**Importing Modules**

In [ ]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

**Reading War Dataset**

In [2]:
data = pd.read_csv('../input/2022-ukraine-russian-war/russia_losses_equipment.csv')

In [3]:
data.head()

,date,day,aircraft,helicopter,tank,APC,field artillery,MRL,military auto,fuel tank,drone,naval ship,anti-aircraft warfare,special equipment,mobile SRBM system
0,2022-02-25,2,10,7,80,516,49,4,100,60,0,2,0,NaN,NaN
1,2022-02-26,3,27,26,146,706,49,4,130,60,2,2,0,NaN,NaN
2,2022-02-27,4,27,26,150,706,50,4,130,60,2,2,0,NaN,NaN
3,2022-02-28,5,29,29,150,816,74,21,291,60,3,2,5,NaN,NaN
4,2022-03-01,6,29,29,198,846,77,24,305,60,3,2,7,NaN,NaN

**Randomize a dataset**

In [4]:
df = pd.DataFrame(data)
df.sample()

,date,day,aircraft,helicopter,tank,APC,field artillery,MRL,military auto,fuel tank,drone,naval ship,anti-aircraft warfare,special equipment,mobile SRBM system
33,2022-03-30,35,131,131,605,1723,305,96,1184,75,81,7,54,21.0,4.0

**Data Description**

In [5]:
data.head()

,date,day,aircraft,helicopter,tank,APC,field artillery,MRL,military auto,fuel tank,drone,naval ship,anti-aircraft warfare,special equipment,mobile SRBM system
0,2022-02-25,2,10,7,80,516,49,4,100,60,0,2,0,NaN,NaN
1,2022-02-26,3,27,26,146,706,49,4,130,60,2,2,0,NaN,NaN
2,2022-02-27,4,27,26,150,706,50,4,130,60,2,2,0,NaN,NaN
3,2022-02-28,5,29,29,150,816,74,21,291,60,3,2,5,NaN,NaN
4,2022-03-01,6,29,29,198,846,77,24,305,60,3,2,7,NaN,NaN

In [6]:
data.tail()

,date,day,aircraft,helicopter,tank,APC,field artillery,MRL,military auto,fuel tank,drone,naval ship,anti-aircraft warfare,special equipment,mobile SRBM system
41,2022-04-07,43,150,135,698,1891,332,108,1358,76,111,7,55,25.0,4.0
42,2022-04-08,44,150,135,700,1891,333,108,1361,76,112,7,55,25.0,4.0
43,2022-04-09,45,151,136,705,1895,335,108,1363,76,112,7,55,25.0,4.0
44,2022-04-10,46,152,137,722,1911,342,108,1384,76,112,7,55,25.0,4.0
45,2022-04-11,47,154,137,725,1923,347,111,1387,76,119,7,55,25.0,4.0

In [7]:
data.nunique #unique values

<bound method DataFrame.nunique of           date  day  aircraft  helicopter  tank   APC  field artillery  MRL  \
0   2022-02-25    2        10           7    80   516               49    4
1   2022-02-26    3        27          26   146   706               49    4
2   2022-02-27    4        27          26   150   706               50    4
3   2022-02-28    5        29          29   150   816               74   21
4   2022-03-01    6        29          29   198   846               77   24
5   2022-03-02    7        30          31   211   862               85   40
6   2022-03-03    8        30          31   217   900               90   42
7   2022-03-04    9        33          37   251   939              105   50
8   2022-03-05   10        39          40   269   945              105   50
9   2022-03-06   11        44          48   285   985              109   50
10  2022-03-07   12        46          68   290   999              117   50
11  2022-03-08   13        48          80   303  1036              120   56
12  2022-03-09   14        49          81   317  1070              120   56
13  2022-03-10   15        49          81   335  1105              123   56
14  2022-03-11   16        57          83   353  1165              125   58
15  2022-03-12   17        58          83   362  1205              135   62
16  2022-03-13   18        74          86   374  1226              140   62
17  2022-03-14   19        77          90   389  1249              150   64
18  2022-03-15   20        81          95   404  1279              150   64
19  2022-03-16   21        84         108   430  1375              190   70
20  2022-03-17   22        86         108   444  1435              201   72
21  2022-03-18   23        93         112   450  1448              205   72
22  2022-03-19   24        95         115   466  1470              213   72
23  2022-03-20   25        96         118   476  1487              230   74
24  2022-03-21   26        97         121   498  1535              240   80
25  2022-03-22   27        99         123   509  1556              252   80
26  2022-03-23   28       101         124   517  1578              267   80
27  2022-03-24   29       108         124   530  1597              280   82
28  2022-03-25   30       115         125   561  1625              291   90
29  2022-03-26   31       117         127   575  1640              293   91
30  2022-03-27   32       121         127   582  1664              294   93
31  2022-03-28   33       123         127   586  1694              302   95
32  2022-03-29   34       127         129   597  1710              303   96
33  2022-03-30   35       131         131   605  1723              305   96
34  2022-03-31   36       135         131   614  1735              311   96
35  2022-04-01   37       143         131   625  1751              316   96
36  2022-04-02   38       143         134   631  1776              317  100
37  2022-04-03   39       143         134   644  1830              325  105
38  2022-04-04   40       147         134   647  1844              330  107
39  2022-04-05   41       150         134   676  1858              332  107
40  2022-04-06   42       150         135   684  1861              332  107
41  2022-04-07   43       150         135   698  1891              332  108
42  2022-04-08   44       150         135   700  1891              333  108
43  2022-04-09   45       151         136   705  1895              335  108
44  2022-04-10   46       152         137   722  1911              342  108
45  2022-04-11   47       154         137   725  1923              347  111

    military auto  fuel tank  drone  naval ship  anti-aircraft warfare  \
0             100         60      0           2                      0
1             130         60      2           2                      0
2             130         60      2           2                      0
3             291         60      3           2                      5
4             305         60      3           2                      7
5             355         60      3           2                      9
6             374         60      3           2                     11
7             404         60      3           2                     18
8             409         60      3           2                     19
9             447         60      4           2                     21
10            454         60      7           3                     23
11            474         60      7           3                     27
12            482         60      7           3                     28
13            526         60      7           3                     29
14            558         60      7           3                     31
15            585         60      7           3                     33
16            600         60      7           3                     34
17            617         60      8           3                     34
18            640         60      9           3                     36
19            819         60     11           3                     43
20            864         60     11           3                     43
21            879         60     12           3                     43
22            914         60     17           3                     44
23            947         60     21           3                     44
24            969         60     24           3                     45
25           1000         70     35           3                     45
26           1008         70     42           4                     47
27           1033         72     50           4                     47
28           1089         72     53           5                     49
29           1131         73     56           7                     51
30           1144         73     56           7                     52
31           1150         73     66           7                     54
32           1178         73     71           7                     54
33           1184         75     81           7                     54
34           1201         75     83           7                     54
35           1220         76     85           7                     54
36           1236         76     87           7                     54
37           1249         76     89           7                     54
38           1273         76     91           7                     54
39           1322         76     94           7                     55
40           1324         76     96           7                     55
41           1358         76    111           7                     55
42           1361         76    112           7                     55
43           1363         76    112           7                     55
44           1384         76    112           7                     55
45           1387         76    119           7                     55

    special equipment  mobile SRBM system
0                 NaN                 NaN
1                 NaN                 NaN
2                 NaN                 NaN
3                 NaN                 NaN
4                 NaN                 NaN
5                 NaN                 NaN
6                 NaN                 NaN
7                 NaN                 NaN
8                 NaN                 NaN
9                 NaN                 NaN
10                NaN                 NaN
11                NaN                 NaN
12                NaN                 NaN
13                NaN                 NaN
14                NaN                 NaN
15                NaN                 NaN
16                NaN                 NaN
17                NaN                 NaN
18                NaN                 NaN
19               10.0                 NaN
20               10.0                 NaN
21               11.0                 NaN
22               11.0                 NaN
23               12.0                 NaN
24               13.0                 NaN
25               15.0                 NaN
26               15.0                 NaN
27               16.0                 NaN
28               18.0                 NaN
29               19.0                 2.0
30               21.0                 4.0
31               21.0                 4.0
32               21.0                 4.0
33               21.0                 4.0
34               22.0                 4.0
35               24.0                 4.0
36               24.0                 4.0
37               24.0                 4.0
38               25.0                 4.0
39               25.0                 4.0
40               25.0                 4.0
41               25.0                 4.0
42               25.0                 4.0
43               25.0                 4.0
44               25.0                 4.0
45               25.0                 4.0  >

In [8]:
data.count()

date                     46
day                      46
aircraft                 46
helicopter               46
tank                     46
APC                      46
field artillery          46
MRL                      46
military auto            46
fuel tank                46
drone                    46
naval ship               46
anti-aircraft warfare    46
special equipment        27
mobile SRBM system       17
dtype: int64

In [9]:
data.isnull().sum()

date                      0
day                       0
aircraft                  0
helicopter                0
tank                      0
APC                       0
field artillery           0
MRL                       0
military auto             0
fuel tank                 0
drone                     0
naval ship                0
anti-aircraft warfare     0
special equipment        19
mobile SRBM system       29
dtype: int64

In [10]:
print(data.groupby(["tank"]).size())

tank
80     1
146    1
150    2
198    1
211    1
217    1
251    1
269    1
285    1
290    1
303    1
317    1
335    1
353    1
362    1
374    1
389    1
404    1
430    1
444    1
450    1
466    1
476    1
498    1
509    1
517    1
530    1
561    1
575    1
582    1
586    1
597    1
605    1
614    1
625    1
631    1
644    1
647    1
676    1
684    1
698    1
700    1
705    1
722    1
725    1
dtype: int64

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   46 non-null     object
 1   day                    46 non-null     int64
 2   aircraft               46 non-null     int64
 3   helicopter             46 non-null     int64
 4   tank                   46 non-null     int64
 5   APC                    46 non-null     int64
 6   field artillery        46 non-null     int64
 7   MRL                    46 non-null     int64
 8   military auto          46 non-null     int64
 9   fuel tank              46 non-null     int64
 10  drone                  46 non-null     int64
 11  naval ship             46 non-null     int64
 12  anti-aircraft warfare  46 non-null     int64
 13  special equipment      27 non-null     float64
 14  mobile SRBM system     17 non-null     float64
dtypes: float64(2), int64(12), object(1)
memory usage: 5.5+ KB